.section-lead {
  padding: 56px 148px 94px 148px;
}

@media screen and (max-width: 1024px) {
  .section-lead {
    padding: 48px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .section-lead {
    padding: 49px 0 89px 0;
  }
}

@media screen and (max-width: 320px) {
  .section-lead {
    padding-bottom: 64px;
  }
}
