.places-item {
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .places-item {
    padding-bottom: 79px;
  }
}

@media screen and (max-width: 768px) {
  .places-item {
    padding-bottom: 74px;
  }
}

@media screen and (max-width: 320px) {
  .places-item {
    padding-bottom: 45px;
  }
}
