.section-photo-grid {
  padding: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
  .section-photo-grid {
    padding-bottom: 91px;
  }
}

@media screen and (max-width: 768px) {
  .section-photo-grid {
    padding-bottom: 89px;
  }
}

@media screen and (max-width: 320px) {
  .section-photo-grid {
    padding-bottom: 64px;
  }
}

