.section-intro {
  padding: 0 100px 92px 100px;
}

@media screen and (max-width: 1024px) {
  .section-intro {
    padding: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 883px) {
  .section-intro {
    padding: 0 29px 0 29px;
  }
}

@media screen and (max-width: 768px) {
  .section-intro {
    max-width: 720px;
    padding: 0 24px 87px 24px;
  }
}

@media screen and (max-width: 544px) {
  .section-intro {
    padding: 0 16px 64px 16px;
  }
}

@media screen and (max-width: 320px) {
  .section-intro {
    padding: 0 16px 64px 16px;
  }
}