.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 0 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 28px 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding: 16px 0 24px 0;
  }
}
