.cover__title {
  margin: 0;
  max-width: 700px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 52px;
    max-width: 400px;
  }
}

@media screen and (max-width: 578px) {
  .cover__title {
    font-size: 32px;
    max-width: 320px;
    line-height: 1.09;
  }
}
