.section-places {
  padding: 0 148px 8px 148px;
}

@media screen and (max-width: 1152px) {
  .section-places {
    padding: 0 48px 12px 48px;
  }
}

@media screen and (max-width: 896px) {
  .section-places {
    padding: 0 36px 12px 36px;
  }
}

@media screen and (max-width: 768px) {
  .section-places {
    padding: 0 24px 14px 24px;
  }
}

@media screen and (max-width: 320px) {
  .section-places {
    padding: 0 0 21px 0;
  }
}
